Package: logisim-evolution
Version: 3.3.4
Installed-Size: 22099
Maintainer: ailtonbsj <ailton.ifce@gmail.com>
Section: science
Architecture: all
Priority: optional
Depends: default-jre
Homepage: https://github.com/reds-heig/logisim-evolution
Description: Logisim is an educational tool for designing and simulating digital logic circuits.
 People from a group of swiss institutes (Haute École Spécialisée Bernoise, Haute École du paysage, d'ingénierie et d'architecture de Genève, and Haute École d'Ingénierie et de Gestion du Canton de Vaud) started developing a version of Logisim that fitted their courses, integrating several tools -- for instance a chronogram, the possibility to test the schematics directly on an electronic board, TCL/TK consoles.
